doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Movies 
    
    body 
        section 
            img(src='../../img/like_1.svg', alt='like', style="width:50px; height:50px" id="like" onclick="like()")
            p Año: #{film.year}
            p Duración: #{film.runtimeStr}
            p Género/s: #{film.genres}
            p Título: #{film.title}
            p Trama : #{film.plot}
            img(src=film.image, alt="Imagen de la película")
            
script(src="../../js/script.js")

